.right{
  float: right;
}
.left{
  float: left;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.inline{
  display: inline-block;
}
/*块级元素(display:block)都能设置宽高：div,p,h1,h6,ul,ol,li,dl,dt,dd
  存在width，height属性的html元素：img图片(display:inline-block)非块级但可以修改宽高，
                                   table表格(display:table)非块级但可以修改宽高
                                   input表单控件(input)非块级但可以修改宽高
  常规不能修改宽高的元素（大部分的行内元素）:  span,a,i,s,u,b,sup,sub，<input type="radio/checkbox"> 
  如何修改那些不能设置宽高的元素(大多为行内元素)：1、浮动属性：float:left/right
                                                  2、修改显示方式属性：display                                                  
                                                  3、绝对定位属性：position:absolute;通过 top/bottom/left/right 实现位置移动和初始化，绝对定位的元素会变成块级元素，允许修改尺寸 

*/

/* box-shandow:0没用  必须为box-shadow:0 0 0 0 ;
*/ 

/*
article的子元素设置了宽高，都是article本身高度为0，导致他后面的兄弟元素与他的子元素重合
     让article的内容撑开高度：1）用js  让article高等于子元素的高
*/

/*                        
<body>
    <div class="content">
    aaaaaa aaaaaa a a a a a a a a
    </div>
</body>
水平居中：
     *如果需要居中的元素为常规流中inline元素，为父元素设置text-align: center;即可实现
     *如果需要居中的元素为常规流中block元素，1）为元素设置宽度，2）设置左右margin为auto。3）IE6下需在父元素上设置text-align: center;,再给子元素恢复需要的值
*/                            
body {
  background: #DDD;
  text-align: center; 
}
.content {
  width: 500px;     
  text-align: left; 
  margin: 0 auto; 
  background: purple;
}
/*
*如果需要居中的元素为浮动元素，1）为元素设置宽度，2）position: relative;，3）浮动方向偏移量（left或者right）设置为50%，4）浮动方向上的margin设置为元素宽度一半乘以-1

*/                            
body {
  background: #DDD;
}
.content {
  width: 500px;         /* 1 */
  float: left;
  position: relative;   /* 2 */
  left: 50%;            /* 3 */
  margin-left: -250px;  /* 4 */
  background-color: purple;
}
/*
*如果需要居中的元素为绝对定位元素，1）为元素设置宽度，2）偏移量设置为50%，3）偏移方向外边距设置为元素宽度一半乘以-1

*/                            
body {
  background: #DDD;
  position: relative;
}
.content {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  background-color: purple;
}
/*
*如果需要居中的元素为绝对定位元素，1）为元素设置宽度，2）设置左右偏移量都为0,3）设置左右外边距都为auto
*/    
body {
  background: #DDD;
  position: relative;
}
.content {
  width: 800px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: purple;
}